html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 50px;
}

h1 {
    text-align: center;
    color: navy;
    font-size: 250%;
}

section {
    border-radius: 25px;
    margin-right: 10%;
}

img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-height: 500px;
}

button {
    font-size: 50px;
    height:100px;
    width: 95%;
    background-color: gray;
}

.active {
    background-color: aqua;
}

#start {
    margin-top: 50%
}
#score {
    text-align: center;
    font-size: 100px;
}
