/* Importation */
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

/* Tag */
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
body {
  width: 100%;
}
canvas {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
}
button {
  font-family: 'Noto Sans SC', sans-serif;
  opacity: 0.7;
  color: #1c1b1b;
  background-color: #f0f4f4;
}
h1 {
    text-align: center;
    color: navy;
    font-size: 250%;
}
section {
    border-radius: 25px;
    margin-right: 10%;
}
img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-height: 500px;
}
button {
    font-size: 50px;
    height:100px;
    width: 100%;
    background-color: gray;
}

/* Classes */
.active {
    background-color: #f0f9f9;
}
.fade {
    opacity: 0;
}
.mainsec {
  text-align: center;
  transform: translate(0, 100px);
}
.background-image {
  display: block;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 120%;
  transform: translate(0, -10px);
  left: 0;
  position: fixed;
  right: 0;
  z-index: -2;
}
.overlay {
  background-color: white;
  opacity: 0.3;
  height: 120%;
  transform: translate(0, -10px);
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

/* Tags */
#startbtn {
  text-align: center;
  margin-top: 50%;
}
#start {
    margin-top: 70%
}
#score {
    text-align: center;
    font-size: 100px;
}
#author {
    position: absolute;
    top: 680px;
    width: 90%;
    margin-left: 5%;
    font-family: "Noto Sans SC", sans-serif;
    color: #D3D3D3;
    font-size: 60px;
}
#logo, #ada, #bluekey {
    display: none;
}

#ada {
    height: auto;
    width: 39%;
    position: absolute;
    margin-left: 13%;
}
#bluekey {
    height: auto;
    width: 35%;
    position: absolute;
    margin-left: 15%;
    margin-top: 330px;
}
